@{
    ViewData["Title"] = "Contacto";

}

<h1>Formulario de Contacto</h1>

<form asp-controller="Contacto" asp-action="Registra" method="post">
    <div>
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name">
    </div>

    <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
    </div>

    <button type="submit">Enviar</button>
</form>